# Python cache
__pycache__/
*.py[cod]
*.pyo
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Logs and debug
*.log
*.out
*.err